@font-face {
    font-family: source-sans-3-regular;
    src: url(/assets/fonts/source-sans-3/SourceSans3-Regular.ttf);
}

@font-face {
    font-family: source-sans-3-regular;
    src: url(/assets/fonts/source-sans-3/SourceSans3-Regular.ttf);
}