body {
    font-family: 'Source Sans 3', sans-serif;
    color: #ffffff;
}

div.hero {
    height: 100vh;
}

div.hero > div.backgound {
    z-index: 1;
}

div.hero > div.content {
    z-index: 2;
}

div.hero > div.background > p {
    line-break: anywhere;
    max-width: 110%;
    max-height: 100%;
    overflow: hidden;
}